<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>14:30</td>  <td>Workshop start</td> </tr>
      <tr> <td>14:40</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td>16:00</td>  <td>Break</td> </tr>
      <tr> <td>16:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a> (continued)</td> </tr>
      <tr> <td>18:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>18:40</td>  <td>Workshop end</td> </tr>
    </table>
  </div>
</div>
