<div id="editor">
  <h3>Text Editor</h3>

  <p>
    For the workshop, you don't need to install any specific text editor.
    However, your writing experience will benefit from a text editor with features like automatic syntax highlighting and Git integration.
    As a recommendation, you can try <a href="https://code.visualstudio.com/" target="_blank" rel="noopener">Visual Studio Code</a>.
  </p>
  
  <p>
    A note about Vim:
    The default text editor on macOS and Linux is usually set to Vim, which is not famous for being intuitive.
    If you accidentally find yourself stuck in it, hit the <kbd>Esc</kbd> key, followed by <kbd>:</kbd>+<kbd>q</kbd>+<kbd>!</kbd> (colon, lower-case 'q', exclamation mark), then hitting <kbd>Return</kbd> to return to the shell.
  </p>

</div>
